// 글래스모피즘 변수 저장
%glass-card {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

%glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

%glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
//   background: linear-gradient(
//     180deg,
//     rgba(255, 255, 255, 0.8),
//     transparent,
//     rgba(255, 255, 255, 0.3)
//   );
}

%text-shadow-basic{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                  0 4px 8px rgba(0, 0, 0, 0.2);
}

@font-face{
  font-family:'hufs-font-m';
  src : url(../../../public/한국외대체M.ttf)
}

.search-main-container {
    width: 45%;
    min-width: 402px;
    height: 500px;
    @extend %glass-card;
    font-family: 'hufs-font-m';
    position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    // display: none;
    // overflow: visible;
    overflow: visible;
    z-index: 20;
}

.search-header-text {
    font-size: 22px;
    text-align: left;
    display: block;
    width: 120px;
    margin-bottom: 10px;
}

.search-option-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 110px;
}

.input-year{
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 30px;
    width: 90px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    align-content: center;
    user-select: none;
}

.input-year::after {
    content: '▽';
    font-size: 10px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
    border-radius: 0 5px 5px 0;
}

.input-year:hover {
    background: rgba(0, 0, 0, 0.6);
}

.input-year-options {
    width: 100%;
    height: 80px;
    overflow-y: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding:3px;
    font-family: 'hufs-font-m';
    z-index: 5;
    
    li {
        display: block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        font-family: 'hufs-font-m';
        z-index: 5;
        user-select: none;
        position: relative;

        div {
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            border-radius: 3px;
            position: absolute;
        }
    }
    li>div:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.input-campus{
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 30px;
    width: 75px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    align-content: center;
    user-select: none;
}

.input-campus::after {
    content: '▽';
    font-size: 10px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
    border-radius: 0 5px 5px 0;
}

.input-campus:hover {
    background: rgba(0, 0, 0, 0.6);
}

.input-campus-options {
    width: 100%;
    height: auto;
    overflow-y: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding:3px;
    font-family: 'hufs-font-m';
    z-index: 5;
    
    li {
        display: block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        font-family: 'hufs-font-m';
        z-index: 5;
        user-select: none;
        position: relative;
        
        div {
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            border-radius: 3px;
            position: absolute;
        }

    }
    li>div:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.input-semester{
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 30px;
    width: 90px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    align-content: center;
    user-select: none;
}

.input-semester::after {
    content: '▽';
    font-size: 10px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
    border-radius: 0 5px 5px 0;
}

.input-semester:hover {
    background: rgba(0, 0, 0, 0.6);
}

.input-semester-options {
    width: 100%;
    height: auto;
    overflow-y: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding:3px;
    font-family: 'hufs-font-m';
    z-index: 5;
    
    li {
        display: block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        font-family: 'hufs-font-m';
        z-index: 5;
        user-select: none;

    }
    li:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.input-area{
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 30px;
    width: 65px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    align-content: center;
    user-select: none;
}

.input-area::after {
    content: '▽';
    font-size: 10px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
    border-radius: 0 5px 5px 0;
}

.input-area:hover {
    background: rgba(0, 0, 0, 0.6);
}

.input-area-options {
    width: 100%;
    height: auto;
    overflow-y: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding:3px;
    font-family: 'hufs-font-m';
    z-index: 5;
    
    li {
        display: block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        font-family: 'hufs-font-m';
        z-index: 5;
        user-select: none;

    }
    li:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.input-dept{
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 30px;
    width: 100%;
    padding: 8px;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    align-content: center;
    user-select: none;
    z-index: 1;
}

.input-dept::after {
    content: '▽';
    font-size: 10px;
    width: 13px;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
    border-radius: 0 5px 5px 0;
    z-index: 1;
}

.input-dept:hover {
    background: rgba(0, 0, 0, 0.6);
}

.input-dept-options {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding:3px;
    font-family: 'hufs-font-m';
    z-index: 4;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    
    li {
        display: block;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        cursor: pointer;
        height: 25px;
        padding: 5px;
        font-family: 'hufs-font-m';
        z-index: 5;
        user-select: none;

    }
    li:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.search-btn{
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 30px;
    width: 50px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    align-content: center;
    user-select: none;
    z-index: 0;
}

.search-btn:hover {
    background: rgba(0, 0, 0, 0.6);
}

.course-list-container {
    width: 100%;
    height: 67%;
    background-color: rgba(0,0,0,0.5);
    overflow-y: scroll;
    border-radius: 5px;
    @extend %text-shadow-basic;
    position: relative;

    ul {
        padding: 5px;
        margin: 0;
    }
}

.course-list {
    font-size: 18px;
    width: 100%;
    height: 65px;
    text-align: left;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 5px;
    @extend %text-shadow-basic;
    position: relative;
    line-height: 1.4;
}

.course-list:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.course-list::after {
    content: '';
    width: 98%;
    position: absolute;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.course-loading {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    top: 45%;
    // transform: translateY(-50%);
}

.course-name-search {
    width: 140px;
    height: 30px;
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 8px;
    border: none;
    font-size: 17px;
    text-align: left;
    align-content: center;
    z-index: 1;
}

.professor-name-search {
    width: 140px;
    height: 30px;
    font-family: 'hufs-font-m';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 8px;
    border: none;
    font-size: 17px;
    text-align: left;
    align-content: center;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}  

.search-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-course-container {
    width: 350px;
    height: 365px;
    position: absolute;
    right: -350px;
    top: 0;
    @extend %glass-card;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    @extend %text-shadow-basic;
    text-align: left;

    div {
        margin-bottom: 5px;
        
        span {
            font-size: 16px;
        }
    }
}



.detail-course-btn-container {
    position: absolute;
    bottom: 10px;
    right: 15px;

    button {
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        font-family: 'hufs-font-m';
        height: 30px;
        width: 50px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

#detail-course-btn-plan {
    width: 100px;
}

.detail-course-white-box {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 8px;
    z-index: 1000;
}

.in-cart-white-li {
    border: 1px solid black;
}

.check-box {
    width: 10px;
    height: 10px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}