@font-face{
  font-family:'hufs-font-m';
  src : url(../../../public/한국외대체M.ttf)
}


.current-time-container{
    position: fixed;
    font-size: 25px;
    font-family: 'hufs-font-m';
    top: 25px;
    left: 25px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
               0 4px 8px rgba(0, 0, 0, 0.2);
}